/**
 *
 * =======================================================================
	 Z-Index Layers
 * =======================================================================
 */

$layer-below: -1;
$layer-default: 1;
$layer-above: 10;
$layer-tooltip: 100;
$layer-overlay: 500;
$layer-modal-back: 1000;
$layer-modal: 1000;

$layer-elm-overlay: 10;
$layer-elm-modal: 75;