// Font weights
$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi: 600;
$weight-bold: 700;

// Base Font
$font-title: 'open-sans', 'Helvetica', sans-serif;
$font-deck: 'open-sans', 'Helvetica', sans-serif;
$font-quote: 'open-sans', 'Helvetica', sans-serif;
$font-body: 'open-sans', 'Helvetica', sans-serif;
$line-height: 1.4;
